<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ModuloMenu</servlet-name>
        <servlet-class>Controlador.ModuloMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAlumno</servlet-name>
        <servlet-class>Controlador.ControladorAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorHorario</servlet-name>
        <servlet-class>Controlador.ControladorHorario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCurso</servlet-name>
        <servlet-class>Controlador.ControladorCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorIntranetALumno</servlet-name>
        <servlet-class>Controlador.ControladorIntranetALumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorIntranetDocente</servlet-name>
        <servlet-class>Controlador.ControladorIntranetDocente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLoginAlumno</servlet-name>
        <servlet-class>Controlador.ControladorLoginAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLoginDocente</servlet-name>
        <servlet-class>Controlador.ControladorLoginDocente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorModificarAlumnoDato</servlet-name>
        <servlet-class>Controlador.ControladorModificarAlumnoDato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorModDAtosAlu</servlet-name>
        <servlet-class>Controlador.ControladorModDAtosAlu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModuloMenu</servlet-name>
        <url-pattern>/ModuloMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAlumno</servlet-name>
        <url-pattern>/ControladorAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorHorario</servlet-name>
        <url-pattern>/ControladorHorario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCurso</servlet-name>
        <url-pattern>/ControladorCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorIntranetALumno</servlet-name>
        <url-pattern>/ControladorIntranetALumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorIntranetDocente</servlet-name>
        <url-pattern>/ControladorIntranetDocente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLoginAlumno</servlet-name>
        <url-pattern>/ControladorLoginAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLoginDocente</servlet-name>
        <url-pattern>/ControladorLoginDocente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorModificarAlumnoDato</servlet-name>
        <url-pattern>/ControladorModificarAlumnoDato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorModDAtosAlu</servlet-name>
        <url-pattern>/ControladorModDAtosAlu</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
